:root {

    --font-h1: 'Helvetica';
    --color-primary1: grey;

    --style-h1 {
        font-family: var(--font-h1);
        font-size: 28px;
        color: var(--color-primary1);
        font-weight: normal;
    };

}
