{
  "reporter": [
    "text",
    "text-summary",
    "html",
    "lcov"
  ],
  "report-dir": "reports/istanbul",
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
  "include": [
    "components"
  ],
  "exclude": [
    "components/**/test"
  ],
  "cache": true
}
