/* costa variables */

/*
Media Queries
---------------------------*/

@custom-media --mobile-landscape (min-width: 481px);
@custom-media --tablet ( min-width: 768px);
@custom-media --tablet-landscape ( min-width: 981px);
@custom-media --desktop ( min-width: 1025px);
@custom-media --desktop-xl ( min-width: 1281px);


/* Max-width */
:root {
    --max-width: 1280px;
}

/* Colors
---------------------------*/
:root {
    --color-primary1: #1072B9; /* COSTA BLUE */
    --color-primary2: #FED230; /* COSTA YELLOW */
    --color-primary3: #FFFFFF; /* WHITE */
    --color-primary4: #063C5D; /* DARK BLUE */
    --color-primary5: #555555; /* GRAY */
    --color-primary6: #646363; /* GRAY */
    --color-primary7: #F0EFEE; /* LIGHT GRAY */
    --color-primary8: #CCCCCC;
    --color-primary9: #B4D5EA; /* LIGHT BLUE */
    --color-primary10: #0C5C94; /* DARK BLUE */
    --color-secondary1: #0A5D90; /* MEDIUM BLUE */
    --color-secondary2: #F6F6F6; /* LIGHT GRAY */
    --color-secondary3: #999999; /* MEDIUM GRAY */
    --color-secondary4: #DB0D39; /* RED */
    --color-secondary5: #ECD9CE; /* NUDE */
    --color-secondary6: #48B980; /* GREEN */
    --color-secondary7: #ffd300;
    --color-secondary8: #f2f5f7;
    --color-tertiary1: #F5F5F5;
    --color-tertiary2: #829DAE;
    --color-tertiary3: #0B578B;
    --color-tertiary4: #008000;
    --color-tertiary5: #d4d4d4;
    --color-tertiary6: #B0B0B0;
    --color-tertiary7: #DDDDDD;  /* In-active state */
    --color-tertiary8: #D1E2EF;
    --color-tertiary9: #333333;
    --color-shadow: rgba(0, 0, 0, .17); /* BLACK */
    --color-border: rgba(85, 85, 85, 0.4); /* GRAY 40% */
    --color-modal-underlay: rgba( 0, 0, 0, 0.8 ); /* dark BLACK */
    --color-image-overlay: rgba(0, 0, 0, 0.5);
    --color-border-secondary: rgba(255, 255, 255, .5); /* WHITE Border */
    --color-focus: rgb(59, 153, 252); /* BLUE OUTLINE ON FOCUS */
}


/* Fonts
---------------------------*/
:root {
    --base-font-size: 16px;

    --font-base: 'Open-Sans';
    --font-regular: 'Open-Sans-Regular';
    --font-italic: 'Open-Sans-Italic';
    --font-bold: 'Open-Sans-Bold';
    --font-bold-italic: 'Open-Sans-Bold-Italic';
    --font-light: 'Open-Sans-Light';
    --font-light-italic: 'Open-Sans-Light-Italic';
    --font-semi-bold: 'Open-Sans-Semi-Bold';
    --font-semi-bold-italic: 'Open-Sans-Semi-Bold-Italic';
    --font-condensed-bold: 'Open-Sans-Condensed-Bold';
    --font-condensed-light: 'Open-Sans-Condensed-Light';
    --font-condensed-light-italic: 'Open-Sans-Condensed-Light-Italic';
}


/* Icons
---------------------------*/
:root {
    --icon-check : '../../../images/check.png';
}

/* Opaque backgrounds */

:root {
    --opaque-background1: rgba(0, 0, 0, .3); /* LIGHT BLACK */
    --opaque-background2: rgba(0, 0, 0, .5); /* DARK BLACK */
}

/* Gradient */
:root {
    --gradient-image: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.2) 59%, transparent 100%);
    --gradient-image-cruise: linear-gradient(to bottom, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .22) 80%, transparent 100%);
}
