/* holds all global variables, do not include CSS here as it will be included in every component */

:root {

    --font-body: 'Times New Roman';
    --font-h1: 'Helvetica';
    --color-primary1: grey;

    /* do not use css sets */
    --style-h1 {
        font-family: var(--font-h1);
        font-size: 28px;
        color: var(--color-primary1);
        font-weight: normal;
    };

}
